*{
	padding:0;
	margin:0;
	border:0;
}
text-center{
	text-align: center;
}

#streamer{
	background: #1d2124;
	height: calc(100vh - 25px);
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-content: flex-start;
	align-items: flex-start;
	justify-content: space-between;
	width: calc(100% - 5px);
	overflow-x:hidden ;
}

nav.menu{
	background: #000;
	height: 25px;
}
nav.menu div a{
	font-size: 12px;
	color: #ffff;
	padding: 5px;	
}
nav.menu div select{
	font-size: 12px;
	background: #000;
	color:#fff;
	border:1px solid #fff;	
}
nav.menu div a .fa-heart{
	color: #ff4355;
}

nav.menu .right-icons i{
	font-size: 18px;
    position: relative;
    top: 2px;
}
/* media card  */
.media-box{
	display: inline-block;
    margin: 10px 5px;
    float: left;
	width: 135px;
	height:200px;
	font-size: 0.8em;
	position: relative;
	overflow: hidden;
	box-shadow: 0 0 3px #ffffff;
}
.media-box label{
	position: absolute;
	left: 0;
	bottom:-60px;
	width: 100%;
	transition: all linear 0.2s;
	margin-bottom:10px;
	color: #ffffff;
}
.media.box .overlay{
	background: rgba(0,0,0,0.6);
	position: absolute;
	top:0;
	right:0;
	bottom:0;
	left:0;
}
.media-box:hover > label{
	bottom:0;
}
.media-box:hover > .favorite{
	display: inline-block;
}
.favorite{
	display: none;
	position:absolute;
	top:10px;
	right:10px;
	font-size: 16px;
	color:gray;
}
.favorite.active i{
	color:red;
}
.modal-dialog{
	margin:0;
}
.modal-close-btn{
	position: absolute;
	top:10px;
	right:10px;
	font-size:30px;
	color: #ffffff;
	text-shadow: 0 1px 0 #fff;
    opacity: 0.8;
}
.modal-close-btn:not(:disabled):not(.disabled):hover{
	opacity: 1;
}
.modal-close-btn:hover{
	color: #ffffff;	
}
.modal-content{
	margin: 0 auto;
	max-width: none;
	height:100vh ;
	background: #1d2124;
}
.modal-dialog{
	max-width: none;
}