*{
	padding:0;
	margin:0;
	border:0;
}
nav.menu{
	background: #000;
	height: 25px;
}
nav.menu div a{
	font-size: 12px;
	color: #ffff;
	padding: 5px;	
}
nav.menu div select{
	font-size: 12px;
	background: #000;
	color:#fff;
	border:1px solid #fff;	
}
nav.menu div a .fa-heart{
	color: #ff4355;
}