{% load static %}
<!DOCTYPE html>
<html>
<head>	
	<title>{% block title %} {% endblock %}</title>
	<link rel="stylesheet" type="text/css" href="{% static 'bootstrap-4.4.1-dist/css/bootstrap.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'fontawesome-free-5.12.1-web/css/all.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/streamer.css' %}">
	<script type="text/javascript" src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'bootstrap-4.4.1-dist/js/bootstrap.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/streamer.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/player.js' %}"></script>
</head>
<body>
	<nav class="menu clear-fix">
		<div class="float-left">
			<a title="TvShows" href="/">TvShows</a>
			<a title="Movies" href="/movies">Movies</a>
			<select id="genre">
			  <option>-Genre-</option>
			  <option value="saab">Saab</option>
			  <option value="drama">Drama</option>
			  <option value="comedy">Comedy</option>
			</select>
			<select id="sort">
			  <option>-Sort By-</option>
			  <option value="trending">Trending</option>
			  <option value="popular">Popular</option>
			  <option value="year">Year</option>
			  <option value="title">Title</option>
			  <option value="rating">Rating</option>
			</select>
		</div>
		<div class="float-right right-icons">
			<a title="Favorites" href="/favorites"><i class="fas fa-heart"></i></a>
			<a title="Settings" href="#"><i class="fas fa-cog"></i></a>
		</div>	
		
	</nav>
	<div id="view-modal" class="modal" role="dialog">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-body position-relative">
					<button type="button" class="close modal-close-btn" aria-label="Close" data-dismiss="modal">
						<i class="fas fa-times"></i>
					</button>
					<div class="content-box">

					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="player-modal" class="modal" role="dialog">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-body position-relative">
					<button type="button" class="close modal-close-btn" aria-label="Close" data-dismiss="modal">
						<i class="fas fa-times"></i>
					</button>
					<div class="content-box">

					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="streamer" class="clearfix">
		
		{% block content %}{% endblock %}
		
	</div>
	<script type="text/javascript" src="{% static 'js/streamer.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/player.js' %}"></script>
</body>
</html>