{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimal-ui">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<title>{% block title %} {% endblock %}</title>
	<link rel="stylesheet" type="text/css" href="{% static 'bootstrap-4.4.1-dist/css/bootstrap.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'fontawesome-free-5.12.1-web/css/all.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/streamer.css' %}">
	<script type="text/javascript" src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'bootstrap-4.4.1-dist/js/bootstrap.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/streamer.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/player.js' %}"></script>
</head>
<body>
	{% csrf_token %}
	<nav class="menu clear-fix">
		<div class="float-left">
			<a title="TvShows" href="/">TvShows</a>
			<a title="Movies" href="/movies">Movies</a>
			<select id="genre">
				<option value="">-Genre-</option>
				<option value="action">Action</option>
				<option value="adventure">Adventure</option>
				<option value="animation">Animation</option>
				<option value="biography">Biography</option>
				<option value="comedy">Comedy</option>
				<option value="crime">Crime</option>
				<option value="documentary">Documentary</option>
				<option value="drama">Drama</option>
				<option value="family">Family</option>
				<option value="fantasy">Fantasy</option>
				<option value="film-noir">Film-Noir</option>
				<option value="history">History</option>
				<option value="horror">Horror</option>
				<option value="music">Music</option>
				<option value="musical">Musical</option>
				<option value="mystery">Mystery</option>
				<option value="romance">Romance</option>
				<option value="sci-fi">Sci-Fi</option>
				<option value="short">Short</option>
				<option value="sport">Sport</option>
				<option value="thriller">Thriller</option>
				<option value="war">War</option>
				<option value="western">Western</option>
			</select>

			<select id="sort">
					<option value="popular">Popular</option>
			  	<option value="trending">Trending</option>
			  	<option value="year">Year</option>
			  	<option value="title">Title</option>
			  	<option value="rat.input-group-prepending">Rating</option>
			</select>
		</div>
		<div class="float-right right-icons">
			<span class="query-input-box" style="">
				<div class="input-group">
			        <input type="text" class="form-control" id="query-input" aria-describedby="inputQueryPrepend" placeholder="movie, tvshow, person">
			        <div class="input-group-prepend">
			        	<span class="input-group-text" id="inputQueryPrepend" style="font-size: 10px;"><i class="fas fa-search"></i></span>
			        </div>
			    </div>
		    </span>
			<a title="Favorites" href="/favorites"><i class="fas fa-heart"></i></a>
			<a title="Settings" href="#"><i class="fas fa-cog"></i></a>
		</div>

	</nav>
	<div id="view-tvshow" class="modal media-view" role="dialog">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-body position-relative">
					<button type="button" class="close modal-close-btn" aria-label="Close" data-dismiss="modal">
						<i class="fas fa-times"></i>
					</button>
					<div class="content-box">
						<div class="details text-white">
							<div class="row">
								<div class="col-xs-12 col-sm-4">
										<section class="poster"> <img src="" class="img-fluid" /></section>
								</div>
								<div class="col-xs-12 col-sm-8">
									<div class="title h2"></div>
									<div class="genres"></div>
									<div class="year"></div>
									<div class="type"></div>
									<div class="status"></div>
									<div class="description mt-3">
										<p></p>
									</div>
								</div>
							</div>
						</div>
						<section class="mt-5 text-white">
							<div class="row">
								<div class="col-xs-12 col-sm-2 seasons">
									<strong class="mb-3 d-block">Seasons</strong>
									<div class="wrapper nav flex-column nav-pills" role="tablist" aria-orientation="vertical"></div>
								</div>
								<div class="col-xs-12 col-sm-3 episodes">
									<strong class="mb-3 d-block">Episodes</strong>
									<div class="wrapper tab-content"></div>
								</div>
								<div class="col-xs-12 col-sm-7 episode-detail">
									<strong class="mb-3 d-block">Episode Details</strong>
									<div class="wrapper tab-content"></div>
								</div>
							</div>
						</section>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="view-movie" class="modal media-view" role="dialog">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-body position-relative">
					<button type="button" class="close modal-close-btn" aria-label="Close" data-dismiss="modal">
						<i class="fas fa-times"></i>
					</button>
					<div class="content-box">
						<div class="movie-details">
							<section class="poster"> <img src="" class="img-fluid" /></section>
							<section class="details">
								<div class="title"></div>
								<div class="year"></div>
								<div class="status"></div>
								<div class="genres"></div>
								<div class="description mt-3">
									<p></p>
								</div>
								<div class="footer mb-5">
									<button class="btn btn-success watch-now">Watch Now</button>
									<button class="btn btn-success watch-trailer">Watch Trailer</button>
								</div>
								<h2>Casts</h2>
								<div class="m-box casts">

								</div>
							</section>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="view-cast" class="modal" role="dialog">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-body position-relative">
					<button type="button" class="close modal-close-btn" aria-label="Close" data-dismiss="modal">
						<i class="fas fa-times"></i>
					</button>
					<div class="content-box">
						<div class="cast-details text-white">
							<section class="cast-detail mb-5">
								<div class="row">
									<div class="col-xs-12 col-sm-4">
										<img  class="img-fluid profile-image" src="" />
									</div>
									<div class="col-xs-12 col-sm-8">
										<div class="">
											<div class="cast-name h2"></div>
											<div><small>Gender: <span class="cast-gender"></span></small></div>
											<div><small>Place of birth: <span class="cast-place-of-birth"></span></small></div>
											<div><small>Known for: <span class="cast-role"></span></small></div>
											<div class="cast-biography mt-3"></div>
										</div>
									</div>
								</div>
							</section>

							<section class="details">


								<!--<h2>TV Show</h2>
								<div class="sm-box cast-tvshows clearfix mb-5">

								</div> -->
								<h2>Movies</h2>
								<div class="sm-box cast-movies clearfix">

								</div>
							</section>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="player-modal" class="modal" role="dialog">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-body position-relative">
					<button type="button" class="close modal-close-btn" aria-label="Close">
						<i class="fas fa-times"></i>
					</button>
					<div class="content-box">

					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="streamer" class="clearfix">
		{% block content %}{% endblock %}

	</div>
	<div id="loader-box">
		<span class="loader"><span class="loader-inner"></span></span>
	</div>
</body>
</html>
